/* .centered-caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  } */


  
/* .centered-caption {

  border: 2px solid black;
} */
/*=======caption background====== */

/* .centered-caption {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
}

.centered-caption{
  margin-right: 80%;
  font-weight: bold;
  color: #000000;
  width: 40%;
} */



  