.top-bar {
    position: relative;
    background: rgb(232, 238, 241);
    padding: 0.1px;
}

.Top {
        
        background: #e6e8f7;
}

.phone {
    /* margin-left: 25px; */
    /* margin-top: -20px; */
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.display {
    /* margin-right: 25px; */
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex;
    align-items: center;
    text-decoration: none;
    color: #0c0b0b;
    
    
}

.top-bar .logo {
    padding: 0px;
    text-align: left;
    overflow: hidden;
}

.top-bar .logo h1 {
    margin: 0;
    color: #aa9166;
    font-size: 75px;
    line-height: 55px;
    font-weight: 800;
}

.top-bar .logo img {
    max-width: 100%;
    max-height: 90px;
}

.top-bar .top-bar-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.top-bar .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* height: 90px; */
    /* padding: 0 20px; */
    text-align: center;
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .text h2 {
    color: #100909;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 20px;
    margin: 0;
    margin-right: 30px;
}

.top-bar .text p {
    color: #121111;
    font-size: 13px;
    margin: 0;
}

.top-bar .social {
    display: flex;
    height: 90px;
    font-size: 0;
    justify-content: flex-end;
}

.top-bar .social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 100%;
    font-size: 22px;
    color: #ffffff;
    border-right: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:first-child {
    border-left: 1px solid rgba(255, 255, 255, .15);
}

.top-bar .social a:hover {
    color: #aa9166;
    background: #ffffff;
}

@media (max-width: 992px) {
    .top-bar .text h2 {
        color: #0c0b0b;
        font-family: 'Roboto', sans-serif;
        font-weight: bold;
        font-style: normal;
        font-size: 15px;
        margin: 0;
        margin-right: 30px;
        text-decoration: none;
    }
}

@media (max-width: 991.98px) {
    .top-bar .logo {
        text-align: center;
    }
    .top-bar .social {
        display: none;
    }
    .display {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
        align-items: center;
    }
}