body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.button4{
  color: whitesmoke;
  font-size: 1.5rem;
  background: linear-gradient(to right, #614385  ,  #516395);
  padding: 10px 10px 10px;
  border:#01BCB5;
  border-radius: 25px;
  
}

.button3{
  color: whitesmoke;
  font-size: 1.5rem;
  background: linear-gradient(to right, #09203F ,   #537895);
  border:#01BCB5;
  border-radius: 25px;
  
}

.textcolour{
  color: rgb(9, 9, 117);
}